*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b263b;
}


section{
    display: flex;
    background-color: #0d1b2a;
    width: 500px;
    height: 800px;
    flex-direction: column;
}
.labels{
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px; 
    grid-template-columns: 100px 100px 100px 100px 100px;
    background-color: red;
    width: 100%;
    height: 75%;
    place-items: center;
    row-gap: 20px;
}
.labels div{
    width: 70px;
    background-color: #fff;
    height: 70px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}
.a{
    background-color: green !important;
}
.b{
    background-color: yellow !important;
}